extends layout.pug

block content

  .container.mt-5
  .card.border-info(style="background-color: rgba(87, 236, 241, 0.07);")
  
    table.table.table-bordered.table-striped
      h4(style="color: crimson;") PAYMENTS
      thead
        tr
          th Name
          th Amount
          th Method
          th Chick Type
          th Date
      tbody
        if payments && payments.length
          each payment in payments
            tr
              td= payment.payer || payment.name
              td= payment.amount
              td= payment.method
              td= payment.notes
              td= payment.date ? payment.date.toLocaleString() : ''
        else
          tr
            td(colspan="5" class="text-center") No payments found.